* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    background: #0a0f1f;
    color: #e0e0e0;
    line-height: 1.6;
}

/* HEADER */
header {
    background: #0f172a;
    position: sticky;
    top: 0;
    z-index: 200;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h2 {
    color: #00eaff;
}

#menu-btn {
    font-size: 2rem;
    cursor: pointer;
    color: #00eaff;
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #00eaff;
    transition: 0.3s;
}

nav a:hover {
    color: #1d4ed8;
}

/* MENÚ MÓVIL */
@media (max-width: 768px) {
    #menu-btn {
        display: block;
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 0;
        height: 100%;
        width: 70%;
        background: #050814;
        flex-direction: column;
        padding-top: 80px;
        gap: 25px;
        border-right: 2px solid #00eaff;
        box-shadow: 0
